.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	width: 100vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header a {
	font-size: 30px;
	font-weight: 300;
	color: #40b3ff;
	text-decoration: none;
}